// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/reset";

// External libraries
@import "bootstrap/scss/bootstrap";
// Your CSS partials
@import "components/index";
@import "pages/index";


.separator-beige {
  border-top: 1px solid $beige;
  margin: 0;
}

.subtitle {
  color: $green;
  font-size: 26px;
  margin: 40px 0 20px 0;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.35em;
}

.list-styled {
  list-style: inside;
  padding-left: 25px;
}
