.article_container {
  margin: 50px auto;
  max-width: 920px;
  min-height: 59vh;
}

.article-content {
  font-size: 1.15em;
}

.article-header {
  margin: auto;
}

.article-title {
  color: $green;
  margin: 0 auto;
  padding: 15px 0 40px;
  min-height: 40px;
  font-size: calc(2vw + 20px);
  word-break: break-word;
  text-align: center;
}


.post-meta {
  font-size: 14px;
  margin-bottom: 20px;
  time, .reading_time {
    font-weight: lighter;
  }
}

.post-meta-author {
  color: $gray;
  font-weight: lighter;
}

.fa-circle {
  font-size: 6px;
  margin: 3px 10px;
  color: $gray;
  opacity: 0.6;
}

.fa-calendar-alt, .fa-clock {
  font-size: 16px;
  margin-right: 5px;
}

.article-image {
  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
  }
}

.article-body {
  margin: 0.95em 0 1.2em;
  padding: 0.2em;
  line-height: 1.6em;
  text-align: justify;
}


.copy-clipboard .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.copy-clipboard:hover .tooltiptext {
  visibility: visible;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .article-header {
    text-align: center;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .article-header {
    text-align: center;
  }
}

// tooltip
[data-tooltip] {
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(33, 37, 41, 0.9);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: $white;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(33, 37, 41, 0.9) transparent transparent transparent;
  transition-duration: 0s;
  transform-origin: top;
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}
/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
  transition-delay: 0.5s;
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}
