.article_container {
  margin: 50px auto;
  max-width: 920px;
}

.article-content {
  font-size: 1.15em;
}

.article-header {
  max-width: 710px;
  margin: auto;
}

.article-title {
  color: $green;
  margin: 0 auto;
  padding: 15px 0;
  min-height: 40px;
  font-size: calc(2vw + 20px);
  word-break: break-word;
}


.post-meta {
  font-size: 14px;
  margin-bottom: 20px;
  time, .readingtime {
    font-weight: lighter;
  }
}

.post-meta-author {
  color: $gray;
  font-weight: lighter;
}

.fa-circle {
  font-size: 6px;
  margin: 3px 10px;
  color: $gray;
  opacity: 0.6;
}

.fa-calendar-alt, .fa-clock {
  font-size: 16px;
  margin-right: 5px;
}

.article-image {
  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
  }
}

.article-body {
  margin: 0.95em 0 1.2em;
  padding: 0.2em;
  line-height: 1.6em;
}
