.contact-rdv {
  margin: 25px 0;
  padding: 0 20px;
}

#contact-marker-right {
  margin-top:2px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
}
