#home-page {
  // margin-top: 20px;
}

.banner {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 100px 0;
}


.banner h1 {
  margin: 0 0 15px 0;
  text-shadow: 1px 1px 3px rgba(255,255,255,0.8);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
  margin-bottom:0;
}

.banner-btn {
  margin-top:15px;
  margin-left: -5px;
}

.btn-ghost {
  color: $dark-grey;
  border: 1px solid $dark-grey;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}

.btn-ghost:hover {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.home-header {
  margin-top: 30px;
  font-size: 1.1em;
  text-align: center;
}

.title {
  h1 {
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 50px;
    padding-bottom: 5px;
    text-decoration: underline;
    text-underline-position: under;
  }
}

.sophro-card {
  padding: 0 25px 25px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
// flipping card
.home-card {
  margin: 20px 0 40px 0;
  box-shadow: 7px 6px 15px -5px rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 15px;
  img {
    width: 100%;
    height: 200px;
  }
  h2 {
    margin: 15px 0;
    font-size: 28px;
    color: $salmon;
  }
}
.img-container {
  text-align: center;
}
  // For bloody IE11 grid supports
#card-1 {
  -ms-grid-column: 1;
}
#card-2 {
  -ms-grid-column: 2;
}
#card-3 {
  -ms-grid-column: 3;
}

.card-text {
  min-height: 120px;
}

.card-link-wrapper {
  text-align: center;
}

.card-link {
  color: $dark-grey;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  &:hover {
  color: $dark-grey;
  }
}



@supports (display:-ms-grid) {
  .flip-card {
    margin: 25px;
    margin-left: 0;
  }
  .flip-card:first-child { margin-left: 25px; }
}
// END
