// SECTION BANNER
.home-title {
  padding: 100px 0;
}

.home-banner {
  background-image: url('https://res.cloudinary.com/duzajevzf/image/upload/v1574183103/banner_raw_optim.jpg');
  filter: contrast(110%);
  height: 400px;
  h1 {
    margin: 0 0 15px 0;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font-size: 42px;
    font-weight: bold;
    font-family: $main-header-font;
  }
  p {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    margin-bottom:0;
  }
}

.home-banner-btn {
  margin-top:15px;
  margin-left: -5px;
}

.btn-ghost {
  color: $dark-gray;
  border: 1px solid $dark-gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
}

.btn-ghost:hover {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}
.btn-ghost:focus {
  box-shadow: none;
}
// END SECTION BANNER

// SECTION HOME CONTENT
.home-content {
  text-align: justify;
}

.description-text {
  margin-top: 30px;
  font-size: 1.1em;
}

.separator-salmon {
  border: 1px solid $salmon;
  width: 20%;
  margin: 30px auto;
}

.sophrologie-presentation {
  margin: 25px auto;
}

.title-sophro {
  text-align: center;
  font-family: $main-header-font;
  font-size: 2.8em;
  text-decoration: underline;
}

.sophro-card {
  padding: 0 25px 25px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.home-card {
  margin: 20px 0 40px 0;
  box-shadow: 7px 6px 15px -5px rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 15px;
  img {
    width: 100%;
    height: 200px;
  }
  h2 {
    margin: 15px 0;
    font-size: 28px;
    color: $salmon;
  }
}
.img-container {
  text-align: center;
}
  // For bloody IE11 grid supports
#card-1 {
  -ms-grid-column: 1;
}
#card-2 {
  -ms-grid-column: 2;
}
#card-3 {
  -ms-grid-column: 3;
}

.card-text {
  min-height: 120px;
}

.card-link-wrapper {
  text-align: center;
}

.card-link {
  color: $dark-gray;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  &:hover {
  color: $dark-gray;
  }
}

@supports (display:-ms-grid) {
  .flip-card {
    margin: 25px;
    margin-left: 0;
  }
  .flip-card:first-child { margin-left: 25px; }
}
// END
// END SECTION HOME CONTENT

// SECTION TESTIMONY
.testimony-section {
  background: linear-gradient(130deg, #EBD0B7, #EB8F72);
  background-size: 400% 400%;
  animation: gradient 16s ease infinite;
}

.testimony-content {
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  min-width: 300px;
  h3 {
    font-family: $headers-font;
    font-size: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: $white;
    margin: 20px 0;
  }
}

.testimony-container {
  margin: 0 20px;
  position: relative;
}

.testimony-container .portrait {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.testimony-container .testimony {
  position: relative;
  z-index: 600;
  padding: 40px 0 40px 180px;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  line-height: 1.8;
  color: $white;
  text-align: justify;
}
.testimony-container .testimony p {
  position: relative;
  margin-bottom: 20px;
  font-family: $headers-font;
}
.testimony-container .testimony p:first-child:before {
  content: '\201C';
  color: rgba(255, 255, 255, 0.44);
  font-size: 7.5em;
  opacity: 1;
  position: absolute;
  top: -.5em;
  left: -.3em;
  z-index: -10;
}
.testimony-container .testimony cite {
  display: block;
  font-size: 14px;
}
.testimony-container .testimony cite span {
  font-size: 16px;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@keyframes gradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}
// END SECTION TESTIMONY

// SECTION QUOTE
.quote {
  margin-bottom: 40px;
}

.quote-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.fa-map-marker {
  font-size: 20px;
  color: $green;
}
.marker-left {
  transform: rotate(-90deg);
}
.marker-right {
  transform: rotate(90deg);
}

.quote-text p {
  font-style: italic;
  margin: 8px 20px 0 20px;
  padding: 0 20px;
  text-align: justify;
}

.author {
  font-weight: bold;
  text-align: center;
}
// END SECTION QUOTE

// SECTION SYNDICATE
.sophro-syndicate {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin: 80px 70px;
}

.syndicat-links-wrapper {
  box-shadow: 4px 4px 8px 0px rgba(100, 100, 100, 0.4);
}

.syndicat-links-wrapper:hover {
  transform: scale(1.1);
}

.syndicats-logos {
  width: 150px;
  height: auto;
}

#formation-logo {
  width: 200px;
}
// END SECTION SYNDICATE

// RESPONSIVE
@media (max-width: 768px) {
  .home-banner h1 {
    font-size: 36px;
  }
  .testimony-container .testimony {
    padding: 40px 0 40px 120px;
    font-size: 18px;
  }
  .testimony-container .portrait {
    width: 100px;
    height: 100px;
  }
  .testimony-content h3 {
    font-size: 2.2rem;
  }
  .testimony-content {
    width: 100%;
  }
  .quote-text p {
    padding: 0 0px;
  }
  .sophro-syndicate {
    margin: 80px 40px;
  }
  .syndicats-logos {
    width: 100px;
  }
  #formation-logo {
    width: 150px;
  }
  .footer-social {
    margin: 20px 25px 20px 0px;
}
  .contact-infos {
    display: block;
  }
}

// grids responsive
@media (min-width: 100px)
  and (max-width: 991px) {
  .home-title {
    padding-left: 50px;
  }
  .sophro-card {
    // IE11
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 450px;
    margin: auto;
  }
}

// iphones
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .home-banner {
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1)), url('https://res.cloudinary.com/duzajevzf/image/upload/v1574183103/banner_raw_optim.jpg');
  }
  .home-banner h1 {
    font-size: 32px;
  }
  .description-text {
    font-size: 1em;
  }
  .title-sophro {
    font-size: 2.2em;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .home-title {
    padding: 90px 0 0 20px;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .home-banner {
    height: 300px;
  }
  .home-title {
    padding: 50px 0;
  }
}
