#about_us_banner {
  height: 350px;
  h1 {
    font-size: 48px;
    color: $white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }
}

.about-title {
  padding: 250px 0;
}

.about_us_content {
  display: flex;
}
