.pic-container {
  margin-bottom: 20px;
}

.thumb-pic {
  width: 235px;
  height: 130px;
}

.quote2 {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
  blockquote {
    margin-bottom: 10px;
  }
}
