<% wrap_layout :layout do %>
  <div class="article_container container">
    <article class="article-content">
      <h1 class="article-title"><%= current_page.data.title %></h1>
      <%= yield %>
    </article>
  </div>
<% end %>

<%=  %>
<%  %>
