<footer>
  <section>
    <div class="footer-social">
      <p>Suivez-nous sur</p>
      <a href="" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
    </div>
    <div class="footer-details">
      <div class="contact-infos">
        <div class="contact-item infos-address">
          <div class="item-content">
            <i class="fas fa-map-marker-alt"></i>
            <address>2, impasse de l'étang <br>
            13250 Saint-Chamas</address>
          </div>
        </div>
        <div class="contact-item infos-phone">
          <div class="item-content">
            <i class="fas fa-phone-alt"></i>
            <p><a class="contact-link" href="tel:+33785244989">07 85 24 49 89</a></p>
          </div>
        </div>
        <div class="contact-item infos-mail">
          <div class="item-content">
            <i class="far fa-envelope"></i>
            <p><a class="contact-link" href="mailto:ogieremilie.sophrologie@gmail.com">ogieremilie.sophrologie@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="separator-beige">
  <section class="footer-bottom">
    <div id="flex-container">
      <div class="footer-bottom-item" id="brand">
        <p>Emilie Ogier <br>
        Sophrologie</p>
      </div>
      <div class="footer-bottom-item" id="legals">
        <p><%= link_to "Politique de confidentialité", "politique_de_confidentialite.html" %></p>
      </div>
      <div class="footer-bottom-item" id="copyright">
        <p>© 2019 Emilie Ogier Sophrologie</p>
      </div>
    </div>
  </section>
</footer>
