// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$black: #000000;
$dark-gray: #212529;
$gray: #4F4F4F;
$light-gray: #F7F7F7;

// a little bit darker
// $light-gray: #F4F4F4;


// $beige: #DDCEBB;
// orignal from wix
$beige: #EBD0B7;


$salmon: #EB8F72;
$green: #E4DB6D;
$orange: #f8a264;
$red: #EE5F5B;
