// Define variables for your color scheme
$white: #FFFFFF;
$black: #000000;
$dark-gray: #212529;
$gray: #4F4F4F;
$light-gray: #F7F7F7;

$beige: #EBD0B7;
$salmon: #EB8F72;
// $green: #679b28;
$green: #E4DB6D;
