// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$black: #000000;
$dark-grey: #212529;
$gray: #4F4F4F;
$light-gray: #F7F7F7;

// a little bit darker
// $light-gray: #F4F4F4;


// $beige: #EDD4B2;
// orignal from wix
$beige: #EBD0B7;


$light-salmon: #edc5b2;
$green: #b2edc5;
$orange: #f8a264;
$red: #EE5F5B;
