.back_to_top {
  position: fixed;
  bottom: 70px;
  right: 10px;
  text-align: center;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

#backToTop {
  position:relative;
  width: 55px;
  height: 55px;
  z-index: 1000;
  border-radius: 5px;
  cursor: pointer;
  background-color: $green;
  border:none;
  box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.4);
}
.back_to_top.show {
  opacity: 0.9;
  visibility: visible;
}

.back_to_top.show:hover {
  opacity: 1;
}

.fa-chevron-up {
  color:white;
  font-size: 26px;
}

.back_top_text {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
  text-align: center;
  width: 100%;
  font-size: 14px;
  letter-spacing: -1px;
  transition: .3s ease-in;
  opacity: 0;
  margin: 0;
  color: $dark-gray;
}
.back_to_top:hover .back_top_text {
  bottom: -40px;
  opacity: 1;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .back_to_top .show {
    right: 5px;
  }
  #backToTop {
    width: 40px;
    height: 40px;
  }
  .fa-chevron-up {
    font-size: 24px;
    position: absolute;
    top: 20%;
    left: 25%;
  }
}
