
.contact-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  .fa-map-marker-alt, .fa-phone-alt, .fa-envelope {
    font-size: 2.2em;
    margin-bottom: 20px;
  }
}

.contact-item {
  width: 100%;
  height: 200px;
  text-align: center;

}

.item-content {
  display: inline-block;
  padding: 50px;
}
.infos-address, .infos-mail {
  background-color: $beige;
}

.contact-link {
  color: $dark-grey;
  text-decoration: none;
}

.contact-link:hover {
  color: $dark-grey;
}

.footer-bottom {
  padding-bottom: 15px;
  p {
    font-size: 14px;
    margin: 0 10px;
  }
}

#flex-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 100px;
}

.logo-alex {
  height: 40px;
  padding-left: 10px;
}
.logo-alex:hover {
  transform: scale(1.1);
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #flex-container {
    display: block;
    text-align: center;
    padding: 0;
  }

  #bottom-footer-row {
    margin-bottom: 10px;
  }

  #copyright {
    margin-bottom: 5px;
    p {
      font-size: 11px;
    }
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #flex-container {
    display: flex;
    padding: 0 40px;
  }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 1000px) {
  #flex-container {
    display: flex;
    padding: 0;
  }
  .logo-alex {
    padding-left: 0;
    margin: 5px 36%;
  }
}
