---
title: Contact - Emilie Ogier Sophrologie
---

<section class="page" id="contact">
  <div class="banner banner-pages">
    <div class="page-title container">
      <h1>Contact</h1>
    </div>
  </div>
  <div class="contact_content page-container container">
    <div class="quote-wrapper">
      <i class="fas fa-map-marker marker-left"></i>
      <p class="contact-rdv">N'hésitez pas à me contacter pour tout renseignement ou demande de rendez-vous</p>
      <i class="fas fa-map-marker marker-right" id="contact-marker-right"></i>
    </div>
    <div class="contact-details-wrapper">
      <div class="contact-details-left text-center">
        <p><strong class="bold-green">Uniquement sur rendez-vous</strong><br><br>
          Du lundi au vendredi de 8h30 À 20h <br>
          Le samedi de 9h30 à 13h30</p>
        <p><a class="dark-underline-link" href="tel:+33785244989"> +33 7 85 24 49 89</a> <br>
          <a class="dark-underline-link"
            href="mailto:ogieremilie.sophrologie@gmail.com">ogieremilie.sophrologie@gmail.com</a></p>
        <p>2 impasse de l'étang - 13250 Saint-Chamas</p>
      </div>
      <div class="contact-details-right">
        <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
    <div class="contact-form container">
      <div class="wrap-contact100">
        <form class="contact-form validate-form" autocomplete="off"
          action="https://formspree.io/ogieremilie.sophrologie@gmail.com" method="post">
          <span class="contact100-form-title">Contactez-moi</span>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="wrap-input100 validate-input" data-validate="Merci d'indiquer votre nom complet">
                <input class="input100 form-input" type="text" name="nom" placeholder="Prénom Nom">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="wrap-input100 validate-input" data-validate="Merci de rentrer un email valide (aa@abc.com)">
                <input class="input100 form-input" type="text" name="email" placeholder="Email">
                <span class="focus-input100"></span>
              </div>
            </div>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Merci de préciser un objet">
            <input class="input100 form-input" type="text" name="objet" placeholder="Objet">
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Merci d'écrire un message">
            <textarea class="input100 form-input" name="message" placeholder="Rédigez ici votre message"></textarea>
            <span class="focus-input100"></span>
          </div>
          <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
              <span><i class="far fa-paper-plane"></i>Envoyer</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
