---
title: Contact - Emilie Ogier Sophrologie
---
<section class="page" id="contact">
  <div class="banner banner-pages">
    <div class="page-title container">
      <h1>Contact</h1>
    </div>
  </div>
  <div class="contact_content page-container container">
    <div class="quote-wrapper">
      <i class="fas fa-map-marker marker-left"></i>
      <p class="contact-rdv">N'hésitez pas à me contacter pour tout renseignement ou demande de rendez-vous</p>
      <i class="fas fa-map-marker marker-right" id="contact-marker-right"></i>
    </div>
  </div>
</section>
