---
title: Emilie Ogier Sophrologie
---
<section id="home-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/duzajevzf/image/upload/v1572701042/flower_banner_1_fqledu.jpg);">
    <div class="container">
      <h1>Sophrologie Relationnelle</h1>
      <p>Emilie Ogier</p>
      <p><small>Saint Chamas et ses environs</small></p>
      <p><small>07 85 24 49 80</small></p>
      <%= link_to "Contactez-Moi", "contact.html", class: "banner-btn btn btn-ghost" %>
    </div>
  </div>





  <div class="container">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum inventore accusamus sit eum neque optio quod amet saepe, sint totam! Eum exercitationem, tenetur dolorum corporis ut ea eos omnis magnam! <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque autem maiores atque tempora, deleniti ducimus quam fugit vitae laborum fugiat quisquam non magnam dignissimos, eveniet tempore, nisi inventore. Possimus, velit!
    </p>
  </div>
</section>
