---
title: Emilie Ogier Sophrologie
---
<section id="home-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/duzajevzf/image/upload/v1572701042/flower_banner.jpg);">
    <div class="container">
      <h1>Sophrologie Relationnelle</h1>
      <p>Emilie Ogier</p>
      <p><small>Saint-Chamas et ses environs</small></p>
      <p><small>07 85 24 49 80</small></p>
      <%= link_to "Contactez-Moi", "contact.html", class: "banner-btn btn btn-ghost" %>
    </div>
  </div>
  <div class="home-header container">
    <p>Dans un monde où tout va toujours plus vite, nous pouvons faire de plus en plus de choses tout en ayant l’impression d’avoir de moins en moins de temps. La société d’aujourd’hui est trop souvent celle du « faire », au détriment de l’ « être ».</p>
    <p>La sophrologie peut vous aider à faire une pause. A prendre du temps pour vous.</p>
  </div>
</section>
