---
title: Origine et définition - Emilie Ogier Sophrologie
---
<section class="page" id="origine_definition">
  <div class="banner banner-pages">
    <div class="page-title container">
      <h1>Origine et définition</h1>
    </div>
  </div>
  <div class="origine_content page-container container">
    <h2 class="subtitle">Origine</h2>
    <p>La sophrologie a été fondée en 1960 par Alfonso Caycedo, neuropsychiatre colombien. Au début de sa carrière, il est chargé d'administrer des traitements lourds sur ses patients: électro chocs, comas insuliniques. Il s'interroge alors sur de nouvelles méthodes de soins ne nécessitant pas l'altération de la conscience. Il s'initie d'abord à l'hypnose. Toutefois, devant la dépendance de ses patients, il s'en détache rapidement. Il recherche une méthode permettant au patient de développer son autonomie et de ne plus être dépendant du thérapeute. <br>
    Après différents travaux de recherches et un long séjour en Orient, il crée la sophrologie. Elle s'inspire de méthodes orientales (Yoga, Zen japonais) et de méthodes occidentales (le training autogène de Schultz, la méthode de relaxation de Jacobson).</p>
    <p>Le mot "sophrologie" trouve son origine dans : <br>
    <em>SOS</em> : équilibre, harmonieux <br>
    <em>PHREN</em> : esprit, conscience <br>
    <em>LOGOS</em> : science, étude, discours
    <p>Sophrologie peut ainsi se traduire par l’ <strong>étude de la conscience harmonieuse</strong>.</p>
    <h2 class="subtitle">Définition et finalité</h2>
    <p>La sophrologie est une méthode corporelle basée sur la <strong>respiration</strong>, des techniques de <strong>relaxation dynamique</strong> et des techniques, plus statiques, de <strong>visualisation positive</strong>.</p>
    <p><strong>La sophrologie vise l'équilibre de l'être, à tous les niveaux: corporels, émotionnels et intellectuels</strong>. La sophrologie active le potentiel et les capacités de l'individu: l'entrainement et la répétition des techniques permet de venir dynamiser dans la vie quotidienne les capacités et les ressources de l'individu, peu exploitées ou même insoupçonnées.</p>
    <p>La sophrologie nous apprend à être <strong>à l'écoute</strong> de soi-même et à <strong>être bienveillant</strong> envers soi-même. Elle nous aide à faire des choix en pleine conscience de manière à vivre notre vie pleinement.</p>
    <p><strong>Ce que la sophrologie n'est pas: la sophrologie ne se substitue pas à un traitement médical. Le sophrologue ne pose pas de diagnostic, n'influence pas les choix thérapeutiques et n'interfère pas dans les traitements en cours</strong>.</p>

    <h2 class="subtitle">Un mot sur la phénoménologie</h2>
    <p>La sophrologie s’inspire de la <strong>phénoménologie</strong>.</p>
    <p>La phénoménologie est l’étude du phénomène, c’est-à-dire tout ce qui apparaît à la conscience ici et maintenant. <strong>Cette approche s’attache à l’expérience</strong>.</p>
    <p>En séance, cela consiste à accueillir tous les phénomènes qui surgissent, à travers le corps, les émotions et le mental, sans les juger ou chercher à les comprendre. Il s'agit de <strong>vivre chaque phénomène comme si c'était la première fois</strong>.</p>
    <p>Le sophrologue est, lui aussi, amené à adopter une attitude phénoménologique : il porte un regard neuf sur les personnes qu’il accompagne, dénué d’interprétation, de préjugés, d’à priori.</p>
  </div>
</section>
