---
title: Principes - Emilie Ogier Sophrologie
---

<section id="principes">
  <div class="banner banner-pages">
    <div class="page-title container">
      <h1>Principes</h1>
    </div>
  </div>
  <div class="principe_content container">
    <h2 class="subtitle">Le schéma corporel comme réalité vécue :</h2>
    <p>Le schéma corporel est la représentation que chacun se fait de son corps. Toutefois, il est beaucoup plus que cela : il inclut toute notre histoire avec son contenu affectif, émotionnel, les facteurs sociaux et environnementaux.</p>
    <p>Il existe souvent un décalage entre l’image qu’un individu se fait de son corps et la réalité de son schéma corporel.</p>
    <p>L’entrainement sophrologique permet de développer sa conscience corporelle, de prendre conscience de son corps dans l’ici et maintenant. Il ne s’agit pas de le visualiser ou de l’imaginer mais de vivre son corps tel qu’il est réellement, de le ressentir. La finalité étant l’équilibre entre le corps et l’esprit et le développement d’une relation harmonieuse avec soi-même.</p>

    <h2 class="subtitle">Le principe d'action positive :</h2>
    <p>Ce principe vient renforcer et activer ce qui est positif chez nous. D’une façon générale, toute action positive dirigée sur notre corps ou notre mental se répercute positivement sur tout notre être. Plus nous nous entraînons à vivre le positif, à l’entretenir, à l’alimenter et à aller le chercher, plus ce positif va s’inscrire en nous à tous les niveaux de l’être : corporel, émotionnel et mental.</p>
    <p>Si la sophrologie est résolument tournée vers le positif, le négatif n’est pas nié, mais volontairement mis entre parenthèses.</p>
    <p>Grâce à l’entrainement sophrologique, ce positif devient un art de vivre. Les petits moments de notre quotidien deviennent intentionnellement des moments forts.</p>

    <h2 class="subtitle">Le principe de réalité objective :</h2>
    <p>Ce principe concerne surtout le sophrologue qui doit être congruent avec ce qu’il propose. Il s’agit d’accueillir la personne en toute objectivité, sans jugement.</p>
    <p>Le sophrologue doit pratiquer lui-même la méthode pour son développement personnel et pour :
      <ul class="list-styled">
        <li>percevoir l'état de sa propre conscience (émotion, tension physique ou mentale),</li>
        <li>avoir une attitude plus juste, envers lui-même et son entourage,</li>
        <li>percevoir l’état de conscience des personnes qu’il accompagne afin d’adapter la méthode au plus juste.</li>
      </ul>
    </p>

  </div>
</section>
