---
title: Une séance de soprologie - Emilie Ogier Sophrologie
---

<section class="page" id="seance_sophro">
  <div class="banner banner-pages">
    <div class="page-title container" id="seance_sophro-title">
      <h1>Une séance de sophrologie</h1>
    </div>
  </div>
  <div class="seance_sophro_content page-container container">
    <h2 class="subtitle">Durée des séances</h2>
    <p>Une séance de sophrologie dure entre 45 minutes et 1 heure. Les séances se pratiquent le plus souvent sur un rythme hebdomadaire. La finalité étant de pratiquer les exercices dans votre quotidien de manière autonome.</p>
    <p>Les séances peuvent être individuelles ou en groupe, en cabinet, à domicile ou au sein d'une entreprise ou institution.</p>
    <p>Généralement, entre 8 à 12 séances sont proposées selon vos besoins et objectifs.</p>
    <h2 class="subtitle">Déroulement d'une séance de sophrologie</h2>
    <ul class="seance_sophro-list">
      <li><strong><u>Accueil et temps d'échange</u></strong>: il s'agit d'un temps d'écoute et d'échange qui dure environ 30 minutes lors de la première séance. L'idée est de comprendre au mieux vos besoins et de s'assurer que votre demande relève bien de la compétence du sophrologue. Cette phase dure 10 à 15 minutes lors des séances suivantes et consiste à échanger sur ce qui s'est passé depuis la dernière séance.</li>
      <li><strong><u>Explication du déroulé de la séance et monstration des mouvements éventuels</u></strong>: le sophrologue présente l'intentionnalité de la séance du jour et vous explique le protocole qu'il a défini. Il répond à vos questions éventuelles.</li>
      <li><strong><u>Pratique</u></strong>: il s'agit de la phase de vivance de la séance. Selon le protocole défini par le sophrologue, la pratique correspondra à des exercices de respiration, des techniques de relaxation dynamiques (des mouvements plus ou moins dynamiques) et/ou à des techniques de visualisation positives. Les exercices sont pratiqués debout ou assis (plus rarement en position allongée).</li>
      <li><strong><u>Temps de partage et d'application dans le quotidien</u></strong>: il s'agit d'un temps d'écoute après la séance où le participant est amené à échanger sur son vécu physique et émotionnel au cours de la séance. Ce temps de partage est libre et non obligatoire, mais encouragé car il favorise l'autonomisation. En fin de séance, un temps d'échange est prévu sur la possibilité d'appliquer certains exercices dans le quotidien.</li>
    </ul>
    <h2 class="subtitle">Tenue et matériel nécessaire</h2>
    <p>Aucune tenue particulière n'est à prévoir. Toutefois, l'idée est de se sentir le plus à l'aise possible. <br>
    Deux chaises suffisent à la pratique d'une séance de sophrologie.</p>
    <h2 class="subtitle">Et les enfants</h2>
    <p>Les séances pour les enfants sont adaptées en contenu et en temps. Ces séances durent environ 30 minutes. La pratique correspond à des jeux, des contes, des exercices ludiques. Les temps d'échange peuvent se faire verbalement ou par le dessin.</p>
  </div>
</section>
